<div mat-dialog-title>Teacher Form</div>
<form [formGroup]="teacherForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="pt-2">
        <div class="container">
            <div class="row g-2">
                <mat-form-field appearance="outline" class="col-md-5">
                    <mat-label>First Name</mat-label>
                    <input matInput type="text" placeholder="First Name" formControlName="fname">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-md-5">
                    <mat-label>Last Name</mat-label>
                    <input matInput type="text" placeholder="Last Name" formControlName="lname">
                </mat-form-field>
            </div>
            <div class="row g-2">
                <mat-form-field appearance="outline" class="col-md-5">
                    <mat-label>Contact Number</mat-label>
                    <input matInput type="number" placeholder="Contact Number" formControlName="contactNo">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-md-5">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="Email" formControlName="emailId">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data?'Update':'Save'}} </button>
    </div>
</form>