<mat-nav-list>
    <a mat-list-item routerLink="/student">
        <mat-icon>home</mat-icon> Student
    </a>
    <a mat-list-item routerLink="/classroom">
        <mat-icon>home</mat-icon> Classroom
    </a>
    <a mat-list-item routerLink="/teacher">
        <mat-icon>home</mat-icon> Teachers
    </a>
    <a mat-list-item routerLink="/subject">
        <mat-icon>home</mat-icon> Subject
    </a>
    <a mat-list-item routerLink="/allocate-subject">
        <mat-icon>home</mat-icon> Allocate Subject
    </a>
    <a mat-list-item routerLink="/allocate-classroom">
        <mat-icon>home</mat-icon> Allocate Classroom
    </a>
    <a mat-list-item routerLink="/student-report">
        <mat-icon>home</mat-icon> Student Report
    </a>
</mat-nav-list>